# 依赖
node_modules/

# 前端构建产物
dist/
dist-ssr/
*.local

# Rust 构建产物
src-tauri/target/

# 编辑器 / IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 系统
Thumbs.db
Desktop.ini
.DS_Store

# 日志
*.log
npm-debug.log*
pnpm-debug.log*